*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: aliceblue;
    position: absolute;
    width: 1380px;
    height: 1200px;

}

h2{
    background-color: aqua;
    margin: 20px;
    padding: 20px;
    position: relative;
    /* left: 20px;
    right, top, bottom */

}

h3{
    background-color: bisque;
    position: fixed;
    top: 0px;
    left: 200px;

}

h4{
    background-color: blue;
    position: sticky;
    top: 10px;

}