h1{
    background-color: aqua;
    font-size: 100px;
}

h2{
    background-color: lightgray;
    font-size: 50px;

}

#exe{
    color: red;
    background-color: lightgray;
}

.veg{
    color: green;
    background-color: lightgray;
}

